/*CSS*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#head {
    width: 100%;
    height: 100px;
    line-height: 100px;
    
    background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0, rgba(0, 98, 255,1)),
	color-stop(1, rgba(102, 12, 212,1))
);
background-image: -o-linear-gradient(left bottom, rgb(0, 98, 255) 0%, rgb(102, 12, 212) 100%);
background-image: -moz-linear-gradient(left bottom, rgb(0, 98, 255) 0%, rgb(102, 12, 212) 100%);
background-image: -webkit-linear-gradient(left bottom, rgb(0, 98, 255) 0%, rgb(102, 12, 212) 100%);
background-image: -ms-linear-gradient(left bottom, rgb(0, 98, 255) 0%, rgb(102, 12, 212) 100%);
background-image: linear-gradient(to left bottom, rgb(0, 98, 255) 0%, rgb(102, 12, 212) 100%);
}
#head h1 {
    margin-top: 0;
    color: #FFF;
    text-align: center;
}

.main>div {
    width: 100%;
}

canvas {
    width: 100%;
    height: auto;
    margin: 10px;
}


.img_title {
    text-align: center;
}

#numbers span {
    font-size: 20px;
}

.info_title{
    font-weight: bold;
    text-align: left;
}

.info_value {
    text-align: right;
}