/*CSS*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.main {
    width: 100%
}

canvas {
    width: 987px;
    height: 786px;
    float: left;
    margin: 10px;
}

#dot{
	width: 400px;
	height: 400px; 
	
}

#psf {
    width: 400px;
    height: 400px;
}