/*CSS*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


canvas {
    width: 987px;
    height: 786px;
    border: 1px solid black;
    float: left;
    margin: 10px;
}

canvas_nonsquare {
    width: 987px;
    height: 786px;
    border: 1px solid black;
}

canvas_small {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#dot{
	width: 400px;
	height: 400px; 
	
}